# Environment Configuration

# Server Port
PORT=5000
# Node Environment
NODE_ENV=development

# Database Configuration
DATABASE_URL=


BETTER_AUTH_SECRET=

BETTER_AUTH_URL=http://localhost:5000,https://backend-url.com

TRUSTED_CLIENT_ORIGIN=http://localhost:3000,https://frontend-url.com

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


GEMINI_API_KEY=
HF_API_KEY=



SSLC_STORE_ID=testbox
SSLC_STORE_PASS=qwerty
SSLC_IS_LIVE=false
